@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;800&family=Oswald:wght@300;400;500&family=Poppins:wght@300;400;500;800&family=Roboto:wght@400;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}

*:not(p) {
    font-family: 'Oswald', sans-serif;
}

body {
    height: 100vh;
    width: 100%;
    background-color: #6DB9EF;
}

.container {
    background-color: whitesmoke;
    width: 90vmin;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 85px 50px;
    border-radius: 10px;
    box-shadow: 0, 20px, 40px, rgb(38, 33, 61, 0.2);
}

.search-box {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.search-box input {
    width: 70%;
    border: none;
    outline: none;
    font-size: 16px;
    border-bottom: 3px solid #6DB9EF;
    padding: 6px;
}

.search-box button{
    border: none;
    outline: none;
    padding: 15px 0;
    width: 26%;
    background-color: #6DB9EF;
    color: #fff;
    font-size: 15px;
    border-radius: 5px;
}